<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>
        <%= section.title %>
    </title>
</head>

<body>
    <!-- Header -->
    <section id="header">
        <%- include('partials/_header') %>
    </section>

    <!-- Content -->
    <section>
        <header>
            <h2>
                <%= section.title %>
            </h2>
        </header>
        <p>
            <%= section.content %>
        </p>
    </section>
    <a href="/">Back to main content</a>

    <!-- Footer -->
    <%- include('partials/_footer') %>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>